# Node modules
/node_modules/
.pnp/
.pnp.js

# Testing coverage reports
/coverage/

# Next.js build output
/.next/
/out/

# Production build output (if applicable)
# /build

# Miscellaneous files
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local environment files
.env*.local

# Vercel deployment files
.vercel/

# VSCode
.vscode

# npm package-lock file (if not tracking)
package-lock.json

# TypeScript build info
*.tsbuildinfo

